In [13]:
import pandas as pd, numpy as np, sys
from matplotlib import pyplot as plt

In [2]:
snpres = pd.read_csv('../GENOTYPE/GENES/SNP_results.csv')
snpres.head()

,Strain,Gene,Parent,Expected,Ref,Alt,Refstop,Altstop,Nonsyn,Nvars,Utr5,Utr3,Exon,Intron,Strand,Start,End,Seqid,Description,Lengthdif
0,19,CNAG_02727,CNAG_02727-t26_1,445.0,445,445,1,1,8,24,0,9,14,1,1,894181,896086,CP003822.1,similar to Avo2 Tor2 kinase component,0.0
1,19,CNAG_01842,CNAG_01842-t26_1,1590.0,1590,1590,1,1,26,80,0,1,74,5,-1,1054281,1059480,CP003830.1,hypothetical protein,0.0
2,19,CNAG_02717,CNAG_02717-t26_1,349.0,349,349,1,1,6,39,5,2,12,20,-1,924061,926473,CP003822.1,aryl-alcohol dehydrogenase,0.0
3,19,CNAG_02724,CNAG_02724-t26_1,779.0,779,779,1,1,28,75,4,8,58,5,-1,900246,903113,CP003822.1,hypothetical protein,0.0
4,19,CNAG_02687,CNAG_02687-t26_1,296.0,296,296,1,1,2,13,0,1,8,4,1,1014198,1015686,CP003822.1,hypothetical protein,0.0

In [4]:
snpres[['Gene','Seqid']].drop_duplicates().groupby('Seqid').count()

            Gene
Seqid
CP003822.1    81
CP003830.1    77

In [10]:
snpres[(snpres.Nonsyn>1)][['Gene','Seqid']].drop_duplicates().groupby(['Seqid']).count()

            Gene
Seqid
CP003822.1    71
CP003830.1    60

In [11]:
## + one invariant gene

In [16]:
sys.path.insert(0, '/home/croth/QTL-functions/SCRIPTS/')
import snpy, glob

In [17]:
oldpath = '/home/croth/crypto-QTL-paper/DATA/GENOTYPE/GENES/SS-A837/*.csv.gz'

In [19]:
genepaths = glob.glob(oldpath)
len(genepaths)

123

In [21]:
oldres = snpy.snpresults(genepaths)

In [23]:
oldres[(oldres.Altstop!=1)]

,Strain,Gene,Parent,Expected,Ref,Alt,Refstop,Altstop,Nonsyn,Nvars,Utr5,Utr3,Exon,Intron
38,SS-A837,CNJ03175,CNJ03175-t26_1,90.0,90,91,1,0,68,52,13,7,12,20
40,SS-A837,CNK00260,CNK00260-t26_1,353.0,353,224,1,7,101,28,2,4,19,3
73,SS-A837,CNJ03155,CNJ03155-t26_1,495.0,495,83,1,22,200,25,5,0,16,4
83,SS-A837,CNB03090,CNB03090-t26_1,1337.0,1337,157,1,64,570,38,0,0,37,1
102,SS-A837,CNK00230,CNK00230-t26_1,1265.0,1265,216,1,43,536,116,17,1,47,51
107,SS-A837,CNN01270,CNN01270-t26_1,691.0,456,691,2,0,15,28,2,1,23,2